body {
  background: lightgrey;
  display: flex;
  justify-content: center;
}

span {
  color: white;
  text-shadow: 2px 1px 2px black;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
}

.screen {
  border: 3px solid black;
  background: red;
  width: 750px;
  height: 450px;
  margin: 10px auto;
  outline: 5px solid black;
  outline-offset: 1px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("/asset/img/Monsters_Arena_001.png");
  background-size: cover;
}
.screen img {
  width: 750px;
  height: 450px;
}
.screen .screen-left {
  width: 250px;
  height: 280px;
  position: relative;
  bottom: 385px;
  left: 100px;
}
.screen .screen-left img {
  position: relative;
  width: 250px;
  height: 250px;
}
.screen .screen-left .screen-boss-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen .screen-left .screen-boss-name span {
  margin-right: 5px;
}
.screen .screen-left .lifebar-boss {
  display: flex;
  margin-bottom: 2px;
}
.screen .screen-left .lifebar-boss .lifebar {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 8px;
  background: red;
}
.screen .screen-left .magicbar-boss {
  display: flex;
}
.screen .screen-left .magicbar-boss .magicbar {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5px;
  background: blueviolet;
}
.screen .screen-right {
  width: 250px;
  height: 280px;
  position: relative;
  bottom: 641px;
  left: 410px;
}
.screen .screen-right #img-player1 {
  width: 100px;
  height: 100px;
  z-index: 2;
}
.screen .screen-right #img-player2 {
  width: 100px;
  height: 100px;
  z-index: 3;
}
.screen .screen-right #img-player3 {
  width: 100px;
  height: 100px;
  z-index: 4;
}
.screen .screen-right .player1 {
  width: 100px;
  position: relative;
  top: 152px;
  left: -24px;
}
.screen .screen-right .player2 {
  width: 100px;
  position: relative;
  top: 94px;
  left: 85px;
}
.screen .screen-right .player3 {
  width: 100px;
  position: relative;
  top: -39px;
  left: 182px;
}

.player-name {
  display: flex;
  align-items: center;
  justify-content: left;
}
.player-name span {
  margin-right: 5px;
}

.lifebar-player {
  display: flex;
  margin-bottom: 2px;
  justify-content: center;
}
.lifebar-player .lifebar {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 8px;
  background: green;
}

.magicbar-player {
  display: flex;
}
.magicbar-player .magicbar {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5px;
  background: blueviolet;
}

.game-zone {
  width: 750px;
  height: 300px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.game-zone-controls {
  border: 3px solid black;
  background: rgb(115, 141, 115);
  width: 250px;
  outline: 5px solid black;
  outline-offset: 1px;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
}
.game-zone-controls .controls {
  border: 3px solid green;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  margin: 5px auto 5px auto;
  overflow: hidden;
}
.game-zone-controls .line2 {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.game-zone-controls .controls-img {
  width: 70px;
}

.game-zone-infos {
  border: 3px solid black;
  background: rgb(115, 141, 115);
  width: 470px;
  outline: 5px solid black;
  outline-offset: 1px;
  background-image: url("/asset/img/Screen_002.png");
  background-position: center;
}
.game-zone-infos .portrait-player {
  display: flex;
  margin: 10px 10px 10px 55px;
  align-items: center;
}
.game-zone-infos .portrait-player .portrait-flex {
  width: 85px;
}
.game-zone-infos .portrait-player i {
  margin: 0 5px;
}
.game-zone-infos .portrait-player .life-magic {
  width: 140px;
  margin: 0 10px;
}
.game-zone-infos .portrait-player .life-magic .lifebar-player {
  display: flex;
  margin-bottom: 2px;
  justify-content: center;
}
.game-zone-infos .portrait-player .life-magic .lifebar-player .lifebar {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 8px;
  background: red;
}
.game-zone-infos .portrait-player .life-magic .magicbar-player {
  display: flex;
}
.game-zone-infos .portrait-player .life-magic .magicbar-player .magicbar {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 5px;
  background: blueviolet;
}
.game-zone-infos #swordp2 {
  width: 18px;
  margin: 0 5px;
}
.game-zone-infos .player-state {
  display: flex;
  flex-direction: row;
}
.game-zone-infos .player-state .cube-state {
  border: 2px solid black;
  width: 30px;
  height: 30px;
  margin: 0 2px;
}/*# sourceMappingURL=style.css.map */