body {
  background: lightgrey;
  display: flex;
  justify-content: center;
}

span {
  color: white;
  text-shadow: 2px 1px 2px black;
}
.main-container {
  display: flex;
  flex-direction: column;
  // background: yellow;
  width: 800px;
  height: 600px;
}
.screen {
  border: 3px solid black;
  background: red;
  width: 750px;
  height: 450px;
  margin: 10px auto;
  outline: 5px solid black;
  outline-offset: 1px;
  object-fit: cover;
  background-image: url("/asset/img/Monsters_Arena_001.png");
  background-size:cover;
  img {
    width: 750px;
    height:450px;
  }
  .screen-left {
    width: 250px;
    height: 280px;
    position: relative;
    bottom: 385px;
    left: 100px;

    img {
      position: relative;
      width: 250px;
      height: 250px;
    }
    .screen-boss-name {
      display:flex;
      align-items: center;
      // justify-content: center;
      span {
        margin-right : 5px;
        font-size: 20px;
      }
    }
    .lifebar-boss {
      display: flex;
      margin-bottom: 2px;
      .lifebar {
        margin-left: 8px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        .life {
          width: 10px;
          border: 1px solid white;
          border-radius: 2px;
          margin-left: 2px;
          background: red;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
      }
    }
    .magicbar-boss {
      display: flex;
      .magicbar {
        margin-left: 5px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        .magic {
          width: 10px;
          border: 1px solid white;
          border-radius: 2px;
          margin-left: 2px;
          background: purple;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
      }
    }
  }
  .screen-right {
    // border: 1px solid green;
    width: 250px;
    height: 280px;
    position: relative;
    bottom: 641px;
    left: 410px;
    .screen-text{
      width: 280px;
      height: 100px;
      position: absolute;
      top: -10px;
      left: 10px;
      border: 4px solid black;
      background: rgba(92, 91, 91, 0.8);
      overflow: auto;
      scrollbar-color: rgba(150, 149, 149, 0.8) transparent;
      scrollbar-width: none;
      scroll-behavior: smooth;
      p {
        margin: 1px 5px 1px 10px;
        line-height:1.2;
        color: white;
        font-size: 15px;
        font-family: 'Eczar', serif;
        white-space:normal;
        text-shadow: 2px 2px 2px black;


      }
    }
    #img-player1 {
      width:100px;
      height:100px;
      z-index: 2;
    }
    #img-player2 {
      width:100px;
      height:100px;
      z-index: 3;
    }
    #img-player3 {
      width:100px;
      height:100px;
      z-index: 4;
    }
    .player1 {
      width:100px;
      position:relative;
      top: 152px;
      left: -24px;
    }
    .player2 {
      width:100px;
      position:relative;
      top: 94px;
      left: 85px;
    }
    .player3 {
      width:100px;
      position:relative;
      top: -39px;
      left: 182px;
    }
    }
  }
  .player-name {
    display:flex;
    align-items: center;
    justify-content: left;
    span {
      margin-right : 5px;
    }
  }

.game-zone {
  width: 750px;
  height: 300px;
  margin: 10px auto;
  display : flex;
  justify-content: space-between;
}

///////// GAME ZONE CONTROLS
.game-zone-controls {
  border: 3px solid black;
  width: 250px;
  outline: 5px solid black;
  outline-offset: 1px;
  display: flex;
  flex-direction: column;
  .controls {
    border: 1px solid black;
    width: 248px;
    height:50px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    background-color: #230717;
    background-image: linear-gradient(90deg, #230717 0%, #3c52c1 35%, #1071a3 65%, #01252b 100%);
    span {
      margin-left : 10px;
      font-family: 'Eczar', serif;
      font-size: 20px;
      letter-spacing: 3px;
      transition: margin-left 150ms ease-in-out;
    }
    &:hover {
      background-color: #230717;
      background-image: linear-gradient(90deg, #230717 0%, #59d3e4 35%, #0998de 65%, #07414c 100%);
      span {
        margin-left : 20px;
        font-family: 'Eczar', serif;
        font-size: 22px;
      }
    }
  }
  .controls-img {
    width:48px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 4px solid rgb(41, 66, 129);

  }
}
// GAME ZONE CONTROLS


// GAME ZONE INFOS
.game-zone-infos {
  border: 3px solid black;
  background: rgb(115, 141, 115);
  width: 470px;
  outline: 5px solid black;
  outline-offset: 1px;
  background-image: url("/asset/img/Screen_002.png");
  background-position: center;
  .portrait-player {
    display: flex;
    margin: 10px 10px 10px 55px;
    align-items: center;
    .portrait-flex {
      width: 85px;
    }
    i {
      margin: 0 5px;
    }
    .life-magic {
      width:140px;
      margin: 0 10px;
      .lifebar-player {
        display: flex;
        margin-bottom: 2px;
        justify-content: left;
        .lifebar {
          margin-left: 8px;
          display:flex;
          flex-direction: row;
          .life {
            width: 10px;
            border: 1px solid white;
            border-radius: 2px;
            margin-left: 2px;
            background: red;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          }
        }
      }
      .magicbar-player {
        display: flex;
        .magicbar {
          margin-left: 5px;
          display:flex;
          flex-direction: row;
          .magic {
            width: 10px;
            border: 1px solid white;
            border-radius: 2px;
            margin-left: 2px;
            background: purple;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          }
        }
      }
}
}
#swordp2 {
  width: 18px;
  margin: 0 5px;
}
.player-state {
  display: flex;
  flex-direction : row;
  .cube-state {
    border: 2px solid black;
    width : 30px;
    height: 30px;
    margin: 0 2px;
    background: lightgray;
    img {
      width:30px;
    }
  }
}
}
