body {
  background: lightgrey;
  display: flex;
  justify-content: center;
}

span {
  color: white;
  text-shadow: 2px 1px 2px black;
}
.main-container {
  display: flex;
  flex-direction: column;
  // background: yellow;
  width: 800px;
  height: 600px;
}
.screen {
  border: 3px solid black;
  background: red;
  width: 750px;
  height: 450px;
  margin: 10px auto;
  outline: 5px solid black;
  outline-offset: 1px;
  object-fit: cover;
  background-image: url("/asset/img/Monsters_Arena_001.png");
  background-size:cover;
  img {
    width: 750px;
    height:450px;
  }
  .screen-left {
    width: 250px;
    height: 280px;
    position: relative;
    bottom: 385px;
    left: 100px;

    img {
      position: relative;
      width: 250px;
      height: 250px;
    }
    .screen-boss-name {
      display:flex;
      align-items: center;
      // justify-content: center;
      span {
        margin-right : 5px;
        font-size: 20px;
      }
    }
    .lifebar-boss {
      display: flex;
      margin-bottom: 2px;
      .lifebar {
        margin-left: 8px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        .life {
          width: 10px;
          border: 1px solid white;
          border-radius: 2px;
          margin-left: 2px;
          background: red;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
      }
    }
    .magicbar-boss {
      display: flex;
      .magicbar {
        margin-left: 5px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        .magic {
          width: 10px;
          border: 1px solid white;
          border-radius: 2px;
          margin-left: 2px;
          background: purple;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }
      }
    }
  }
  .screen-right {
    // border: 1px solid green;
    width: 250px;
    height: 280px;
    position: relative;
    bottom: 641px;
    left: 410px;
    #img-screen1 {
      width: 301px;
      height: 140px;
      position: relative;
      top: -104px;
      left: 350px;
    }
    #img-screen2 {
      width: 301px;
      height: 140px;
      position: relative;
      top: 85px;
      left: 350px;
    }
    .screen-infos{
      position: relative;
      top: -23px;
      left: 375px;
      width: 250px;
      height: 80px;
      // border: 1px solid black;
      display: flex;
      align-items: center;
      img {
        width:50px;
        height: 50px;
        border: 3px solid white;
        margin: 5px;
      }
      .descriptions-infos {
        h3 {
          margin:0;
          padding: 0;
          color: gold;
        }
        span {
          font-size: 14px;
      }
    }
  }

    .screen-text{
      width: 280px;
      height: 177px;
      position: absolute;
      padding: 140px 0;
      top: -100px;
      left: 355px;
      border: 4px solid black;
      background: rgba(92, 91, 91, 0.8);
      overflow: auto;
      scrollbar-color: rgba(150, 149, 149, 0.8) transparent;
      scrollbar-width: none;
      scroll-behavior: smooth;
      background-image: url("/asset/img/vintage-grunge-paper-background.jpg");
      background-size: auto;
      p {
        margin: 2px 5px 1px 10px;
        line-height:1.2;
        color: white;
        font-size: 15px;
        font-family: 'Eczar', serif;
        white-space:normal;
        text-shadow: 2px 2px 2px black;
      }

    }
    #description-span {
      position: absolute;
      top: 238px;
      left: 455px;
    }
    #options-span {
      position: absolute;
      top: 15px;
      left: 470px;
    }
    .title-options, .title-description {
      font-size: 10px;
      letter-spacing: 4px;
      font-weight: bold;
    }
    #img-player1 {
      width:100px;
      height:100px;
      z-index: 2;
    }
    #img-player2 {
      width:100px;
      height:100px;
      z-index: 3;
    }
    #img-player3 {
      width:100px;
      height:100px;
      z-index: 4;
    }
    .player1 {
      width:100px;
      position:relative;
      top: -212px;
      left: -24px;
    }
    .player2 {
      width:100px;
      position:relative;
      top: -280px;
      left: 85px;
    }
    .player3 {
      width:100px;
      position:relative;
      top: -401px;
      left: 182px;
    }
    }
  }
  .player-name {
    display:flex;
    align-items: center;
    justify-content: left;
    span {
      margin-right : 5px;
    }
  }


.game-zone {
  width: 750px;
  height: 300px;
  margin: 10px auto;
  display : flex;
  justify-content: space-between;
}

///////// GAME ZONE CONTROLS
.game-zone-controls.c1 {
  border: 3px solid black;
  width: 250px;
  height: 260px;
  outline: 5px solid black;
  outline-offset: 1px;
  display: flex;
  flex-direction: column;
  background: black;
  overflow: auto;
  scrollbar-color: rgba(150, 149, 149, 0.8) transparent;
  scrollbar-width: none;
  scroll-behavior: smooth;
  .controls-hidden {
    display :none;
  }
  .controls {
    border: 1px solid black;
    width: 248px;
    height:50px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    background-color: #230717;
    background-image: linear-gradient(90deg, #230717 0%, #3c52c1 35%, #1071a3 65%, #01252b 100%);
    span {
      margin-left : 10px;
      font-family: 'Eczar', serif;
      font-size: 18px;
      letter-spacing: 3px;
      transition: margin-left 150ms ease-in-out;
    }
    .controls-img {
      width:48px;
      border-radius: 25px;
      // border-bottom-right-radius: 25px;
      border: 2px solid rgb(0, 0, 0);
      transition: margin-left 150ms ease-in-out;
    }
    &:hover {
      background-color: #230717;
      background-image: linear-gradient(90deg, #230717 0%, #59d3e4 35%, #0998de 65%, #07414c 100%);
      span {
        margin-left : 20px;
        font-family: 'Eczar', serif;
        font-size: 22px;
      }
      img {
        margin-left: 15px;
      }
    }
  }


}
// GAME ZONE CONTROLS


// GAME ZONE INFOS
.game-zone-infos {
  border: 3px solid black;
  background: rgb(115, 141, 115);
  width: 470px;
  outline: 5px solid black;
  outline-offset: 1px;
  background-image: url("/asset/img/bg_parchemin.png");
  background-position: center;
  z-index: 3;
  position: relative;
  .game-zone-infos-bg {
    width:100%;
    height:100%;
    background-image: url("/asset/img/Screen_002.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  position: relative;
  }
  .portrait-container {
    border: 1px solid black;
    width : 100%;
  }
  #portrait-p1 {
    align-items: center;
    position: relative;
    top: 10px;
  }
  #portrait-p2 {
    align-items: center;
    position: relative;
    top: 15px;
  }
  #portrait-p3 {
    align-items: center;
    position: relative;
    top: 27px;
  }
  .portrait-player {
    display: flex;
    margin: 0 10px 0 55px;
    .portrait-flex {
      width: 85px;
    }
    i {
      margin: 0 5px;
    }
    .life-magic {
      width:140px;
      margin: 0 10px;
      .lifebar-player {
        display: flex;
        margin-bottom: 2px;
        justify-content: left;
        .lifebar {
          margin-left: 8px;
          display:flex;
          flex-direction: row;
          .life {
            width: 10px;
            border: 1px solid white;
            border-radius: 2px;
            margin-left: 2px;
            background: red;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          }
        }
      }
      .magicbar-player {
        display: flex;
        .magicbar {
          margin-left: 5px;
          display:flex;
          flex-direction: row;
          .magic {
            width: 10px;
            border: 1px solid white;
            border-radius: 2px;
            margin-left: 2px;
            background: purple;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          }
        }
      }
}
}
#swordp2 {
  width: 18px;
  margin: 0 5px;
}
.player-state {
  display: flex;
  flex-direction : row;
  .cube-state {
    border: 2px solid black;
    width : 30px;
    height: 30px;
    margin: 0 2px;
    background: lightgray;
    img {
      width:30px;
    }
  }
}
.player-overlay {
  width: 466px;
  border: 2px solid black;
  height: 76px;
  background-color: #230717;
  background-image: linear-gradient(90deg, #230717 0%, #3c52c1 35%, #1071a3 65%, #01252b 100%);
  opacity: 0.3;
  z-index: 0;
}
 .p1 {
  position: absolute;
  top: 5px;
  left: 0px;
 }
 .p2 {
  position: absolute;
  top: 85px;
  left: 0px;
 }
 .p3 {
  position: absolute;
  top: 165px;
  left: 0px;
  background-color: #08AEEA;
  background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 50%, #ffffff 100%);
 }
 .turn_active { // Va mettre en vert l'OVL pour la selection du player
  background-image: linear-gradient(90deg, #08AEEA 0%, #2AF598 50%, #ffffff 100%);
  background-color: #08AEEA;
  opacity: 0.3;
  z-index: 0;
 }

}
