body {
  background: lightgrey;
  display: flex;
  justify-content: center;
}
span {
  color: white;
  text-shadow: 2px 1px 2px black;
}
.main-container {
  display: flex;
  flex-direction: column;
  background: yellow;
  width: 800px;
  height: 600px;
}
.screen {
  border: 3px solid black;
  background: red;
  width: 750px;
  height: 450px;
  margin: 10px auto;
  outline: 5px solid black;
  outline-offset: 1px;
  object-fit: cover;
  background-image: url("/asset/img/Monsters_Arena_001.png");
  background-size:cover;
  img {
    width: 750px;
    height:450px;
  }
  .screen-left {
    border: 1px solid green;
    width: 250px;
    height: 280px;
    position: relative;
    bottom: 385px;
    left: 100px;

    img {
      position: relative;
      width: 250px;
      height: 250px;
    }
    .screen-boss-name {
      display:flex;
      align-items: center;
      justify-content: center;
      span {
        margin-right : 5px;
      }
    }
    .lifebar-boss {
      display: flex;
      margin-bottom: 2px;
      .lifebar {
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 8px;
        background: red;
      }
    }
    .magicbar-boss {
      display: flex;
      .magicbar {
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 5px;
        background: blueviolet;
      }
    }
  }
  .screen-right {
    border: 1px solid green;
    width: 250px;
    height: 280px;
    position: relative;
    bottom: 641px;
    left: 410px;
    background: red;
  }
}
.game-zone {
  // border: 1px solid black;
  // background: blueviolet;
  width: 750px;
  height: 300px;
  margin: 10px auto;
  display : flex;
  justify-content: space-between;
}
.game-zone-controls {
  border: 3px solid black;
  background: pink;
  width: 250px;
  outline: 5px solid black;
  outline-offset: 1px;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  // background-image: url("/asset/img/circle_logo.png");
  // background-size:cover;
  .controls {
    border: 3px solid green;
    border-radius: 10px;
    width: 70px;
    height:70px;
    margin: 5px auto 5px auto;
    overflow: hidden;
  }
  .line2 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .controls-img {
    width:70px;
  }
}
.game-zone-infos {
  border: 3px solid black;
  background: green;
  width: 470px;
  outline: 5px solid black;
  outline-offset: 1px;
  background-image: url("/asset/img/Screen_002.png");
  background-position: center;

}
